<span class="grid">
  <span class="game-list">
    <mat-card>
      <mat-card-content>
        <mat-nav-list>
          @for (game of games | async; track game.id) {
            <a
              mat-list-item
              [routerLink]="game.id"
              routerLinkActive="mat-list-item-active"
            >
              {{ game.name }}
            </a>
          }
        </mat-nav-list>
        <button style="float: right" mat-mini-fab (click)="addGame()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-content>
    </mat-card>
  </span>
  <mat-card class="game-detail">
    <router-outlet />
  </mat-card>
</span>
