/* What happens if the spans inside paragraphs are styled? */

p > span {
  color: var(--abc-on-warning-color);
  background-color: var(--abc-warning-color);
  font-weight: bold;
  padding: 5px;
  border: 2px solid
    color-mix(in srgb, var(--abc-on-warning-color), transparent 75%);
  border-radius: 5px;
}

dt {
  font-style: italic;
}

dd {
  margin-bottom: 10px;
}

table {
  margin-top: 10px;
}
