:host {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: min-content 0 auto;

  oasis-display-or-edit {
    width: 150px;
  }

  oasis-header mat-toolbar-row a {
    margin-right: 10px;
    font-size: 20px;
  }
}
