# Add files here to ignore them from prettier formatting
/dist
/coverage
_tools/Prep-Instructions/output
_tools/output
.nxignore
.angular
.bazelignore
.bazelrc
.browserslistrc
.dockerignore
.DS_Store
.editorconfig
.firebaserc
.idea
.git*
.npmrc
.prettierignore
.stackblitzrc
.vscode
.yarnrc
*.bak
*.bzl
*.cache
*.docx
*.ico
*.jpeg
*.jpg
*.lock
*.log
*.map
*.md
*.pdf
*.png
*.pug
*.sh
*.svelte
*.svg
*.txt
/quiz/public/lib
bazel-*
BUILD.bazel
bundle.js
bundle.css
dist
firestore.rules
notes.*
package.json
tools/stackblitz-publish/host-repo
tools/stackblitz-publish/public
surveys.json
.eslintignore
**/*__tmpl__

/.nx/cache
.env

/.nx/workspace-data