:host {
  display: grid;
  gap: 1rem;
}

@media only screen and (min-width: 601px) {
  :host {
    grid-template:
      ' .     status  '
      ' list  display '
      / 1fr 1fr;
  }
  .status {
    grid-area: status;
  }

  app-employee-list {
    grid-area: list;
  }

  app-employee-display {
    grid-area: display;
  }
}
