<div mat-dialog-content>
  <form [formGroup]="cardForm">
    <mat-form-field>
      <mat-label>Card Receiver</mat-label>
      <select
        matNativeControl
        [formControl]="cardForm.controls.player"
        e2e="card-player-control"
      >
        @for (player of game.players; track player.id) {
          <option [value]="player.id">
            {{ player.name }}
          </option>
        }
      </select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Type</mat-label>
      <select
        matNativeControl
        class="card-types"
        [formControl]="cardForm.controls.type"
        e2e="card-type-control"
      >
        @for (type of cardtypes; track type) {
          <option [value]="type">
            {{ type }}
          </option>
        }
      </select>
    </mat-form-field>
    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="Time"
        [formControl]="cardForm.controls.minute"
      />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    (click)="save()"
    [disabled]="saving || cardForm.invalid"
    e2e="submit-new-card"
  >
    Add
  </button>
  @if (saving) {
    <mat-spinner diameter="20"></mat-spinner>
  }
</div>
