<form>
  <mat-form-field>
    <mat-label>Search reddit.com/r/</mat-label>
    <mat-select
      id="subReddit"
      [(ngModel)]="subReddit"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="findResults()"
    >
      @for (sr of subReddits; track sr) {
        <mat-option [value]="sr">
          {{ sr }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>for images containing</mat-label>
    <input
      id="search"
      type="text"
      matInput
      [(ngModel)]="search"
      [ngModelOptions]="{ standalone: true }"
      (ngModelChange)="findResults()"
    />
  </mat-form-field>
</form>

<section>
  @for (post of results; track post) {
    <img [src]="post.thumbnail" [alt]="post.title" />
  }
</section>
