<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Choose player</mat-label>
    <mat-select [formControl]="chosenPlayer">
      @for (player of playerOptions | async; track player.id) {
        <mat-option [value]="player.id">
          {{ player.name }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    (click)="save()"
    [disabled]="saving || chosenPlayer.invalid"
  >
    Add player
  </button>
  @if (saving) {
    <mat-spinner diameter="20"></mat-spinner>
  }
</div>
