@use 'libs/shared/styles/shared/page-setup.scss';
@use 'libs/shared/styles/shared/app-layout.scss';

$mat-yellow: #ffeb3b;
$accent: #ff4081;
$warn: #ff5252;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-list-item-active {
  font-weight: bold;
  color: mat-color($accent, darker) !important;
}

.yellow-card {
  color: mat-color(mat-palette($mat-yellow), default);
}

.red-card {
  color: mat-color($warn, default);
}

mat-card {
  margin-top: 10px;
  margin-left: 10px;
}

.mat-dialog-actions button {
  text-transform: uppercase;
}

.mat-dialog-actions {
  direction: rtl;
}

app-player-name-editor
  .mat-form-field-appearance-legacy
  .mat-form-field-infix {
  padding: 0;
  border-top: 0px;
}

app-player-name-editor
  .mat-form-field-appearance-legacy
  .mat-form-field-wrapper {
  display: inline;
}

.card-types {
  text-transform: capitalize;
}

.mat-option-text {
  text-transform: capitalize;
}

// override due to sidenav
.page-layout {
  padding: 0px;
  width: 100%;
}
