<article>
  <header>Employees</header>

  <p>
    <button (click)="showInactiveRoles.set(!showInactiveRoles())">
      {{ showInactiveRoles() ? 'Hide' : 'Show' }} Inactive Roles
    </button>
  </p>

  @for (employee of employeeList(); track employee) {
    <p>
      <strong>{{ employee.name }}</strong>

      @for (role of employee.roles; track $index) {
        <div>
          @if ($index === 0 || showInactiveRoles()) {
            <small>{{ role }}</small>
          }
        </div>
      }
    </p>
  }
</article>
