@if (gameDetails | async; as game) {
  <div class="game-title">
    <h1>
      {{ game.name }} - {{ game.location }} - {{ game.date | date }}
    </h1>
    <div>
      <button mat-raised-button color="warn" (click)="delete()">
        Delete
        <mat-icon>delete</mat-icon>
      </button>
      @if (deleting) {
        <mat-spinner diameter="20"></mat-spinner>
      }
    </div>
  </div>
  <app-player-list
    [players]="game.playerDetails"
    [playersNotInGame]="(playersNotInGame | async) ?? []"
    [gameId]="game.id"
  />
  <app-shot-list
    [shots]="game.shots"
    [gameId]="game.id"
    [players]="game.playerDetails"
  />
  <app-card-list
    [cards]="game.cards"
    [gameId]="game.id"
    [players]="game.playerDetails"
  />
}
