<article>
  <header>Profile</header>

  @if (showProfile()) {
    <div>
      Phone number: 555-123-1345
      <br />
      <!-- Note that '@' is a special character now,
      so we need to escape it -->
      Email address: test&commat;abccompany.com
      <br />
      Address: 1 Main Street, St. Louis, MO 63105
      <br />
    </div>
  }

  <footer>
    <button class="btn" (click)="showProfile.set(!showProfile())">
      {{ showHideProfileMessage() }}
    </button>
  </footer>
</article>

<article>
  <header>Todo List</header>

  <ul class="collection todo-list">
    @for (todo of todos(); track todo) {
      <li>
        {{ todo.label }}
      </li>
    }
  </ul>

  <footer>
    <button (click)="addTodo()">Add Todo</button>
  </footer>
</article>

<article>
  <header>Upcoming Meetings</header>

  <ul class="collection">
    @for (meeting of nextMeetings; track meeting) {
      <li>{{ $index + 1 }}: {{ meeting.description }}</li>
    }
  </ul>
</article>

<article>
  <header>Who is in meetings</header>

  <ul>
    @for (meeting of nextMeetings; track meeting) {
      <li>
        {{ meeting.description }}:
        @for (person of meeting.participants; track $index) {
          <span>
            {{ person }}
          </span>
        }
      </li>
    }
  </ul>
</article>
