<article>
  <header>Sales as of {{ reportDate() | date }}</header>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th class="number-column">Units (millions)</th>
        <th class="number-column">Total Revenue</th>
        <th class="number-column">%</th>
      </tr>
    </thead>

    <tbody>
      @for (record of sales(); track record) {
        <tr>
          <td>{{ record.name }}</td>
          <td class="number-column">
            {{ record.units | number: '1.4-4' }}
          </td>
          <td class="number-column">
            {{ record.revenue | currency: 'USD' : 'symbol' }}
          </td>
          <td class="number-column">
            {{ record.percent / 100 | percent: '1.2-2' }}
          </td>
        </tr>
      }
    </tbody>
  </table>

  <footer>
    Report expires
    {{ expirationDate() | date: 'longDate' | uppercase }}
  </footer>
</article>

<button (click)="showJSON.set(!showJSON())">
  {{ showJSON() ? 'Hide' : 'Show' }} data for export
</button>

@if (showJSON()) {
  <pre>{{ sales() | json }}</pre>
}
