<article>
  <button (click)="increment()">Add One</button>
  {{ n() }}
</article>

<article>
  <header>Switch on values</header>
  <div>
    @switch (n() > 5) {
      @case (false) {
        <span>Seen a little</span>
      }
      @case (true) {
        <span>Seen a lot</span>
      }
    }
  </div>
</article>

<article>
  <header>Switch on predicates</header>
  <div>
    @switch (n()) {
      @case (0) {
        <div>Seen zero</div>
      }
      @case (1) {
        <div>Seen once</div>
      }
      @case (results()) {
        <div>2...4</div>
      }
      @default {
        <div>Seen {{ n() }} times</div>
      }
    }
  </div>

  <div>
    @switch (food()) {
      @case ('apple') {
        <span>Shiny Apple</span>
      }
      @case ('banana') {
        <span>Yellow Banana</span>
      }
      @default {
        <span>other</span>
      }
    }
  </div>
</article>
