/*
  The compiled version of this file is included globally in the generated
  index.html via a <link> tag.
*/

.outline-box {
  box-shadow: var(--abc-box-shadow);
  padding: 6px;
  margin: 6px;
  border: 3px solid var(--abc-category-3-color);
}
