.players {
  margin-bottom: 30px;
}

.shots {
  margin-bottom: 30px;
}

.cards {
  margin-bottom: 30px;
}

mat-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
